{% extends 'base.html' %}
{% block content %}
<style>
    .container {
        width: 95%;
        margin: 20px;
        padding: 10px;
    }

    .page-title {
        color: #333;
        font-size: 30px;
        margin-bottom: 25px;
        text-align: left;
    }

    .post-card {
        background: #ffffff;
        border-left: 5px solid #f28b82;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }

    .post-title {
        margin: 0 0 10px 0;
        color: #222;
        font-size: 24px;
    }

    .post-description {
        color: #555;
        line-height: 1.6;
        margin-bottom: 15px;
    }

    .post-author {
        color: #666;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .approve-btn {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 18px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
    }

    .approve-btn:hover {
        background-color: #218838;
    }
    .reject-btn {
        background-color: red;
        color: white;
        border: none;
        padding: 10px 18px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
        font-weight: bold;
    }

    .reject-btn:hover {
        background-color: #c82333;
    }

    .empty-post {
        background: white;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    }

    /* Footer */

    .footer {
        background-color: #333;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 60px;
    }

    .footer a {
        color: white;
        margin: 0 15px;
        font-size: 20px;
        text-decoration: none;
    }

    .footer a:hover {
        color: #0b15d3ba;
    }

    .copyright {
        width: 100%;
        text-align: center;
        color: bisque;
        margin-top: 10px;
    }
</style>
<div class="container">
    <h2 class="page-title">Pending Posts for Approval</h2>
    {% if posts %}
        {% for post in posts %}
            <div class="post-card">
                <h3 class="post-title">{{ post.title }}</h3>
                <p class="post-description">{{ post.short_description }}</p>
                <p class="post-author">Created By:<strong>{{ post.user.first_name }}</strong></p>

                <a href="{% url 'approve_post' post.id %}"><button class="approve-btn">Approve Post</button></a>
                <a href="{% url 'approve_post' post.id %}"><button class="reject-btn">Reject Post</button></a>

            </div>

        {% endfor %}

    {% else %}
        <div class="empty-post">
            <h3>No Pending Posts Available</h3>
        </div>

    {% endif %}

</div>

<footer>
    <div class="footer">

        <a href="https://facebook.com" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>

        <a href="https://twitter.com" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>

        <a href="https://instagram.com" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>

        <div class="copyright">
            &copy; 2025 PyCodeSphere | All Rights Reserved
        </div>

    </div>
</footer>

{% endblock %}